# Database
DATABASE_URL=postgresql://user:password@localhost:5432/ia-video-creator

# API
API_URL=http://localhost:3000
EXPO_PUBLIC_API_URL=http://localhost:3000

# Environment
NODE_ENV=development
EXPO_PORT=8081

# Pix Payment
PIX_KEY=89bbef1f-bc57-4bfd-bdcd-50e07c1f4e3e
PIX_OWNER_NAME=Jackson Aparecida da Silva

# App
EXPO_PUBLIC_APP_NAME=IA Video Creator
EXPO_PUBLIC_APP_SLUG=ia-video-creator
